UserSettings/Layouts/default-2021.dwlt
/UserSettings/
/[Tt]emp/
/[Ll]ibrary/
/[Tt]emp/
/[Ll]ogs/
/[Oo]bg/
/UserSettings/

.vs/
.vscode/
.DS_Store
*.unityproj
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.txt
/.idea
/Library
/ProjectSettings
.vsconfig
